@font-face {
    font-family: 'Gotham';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-BookItalic.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-BookItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-BookItalic.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-MediumItalic.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Black.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Book.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Roman.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-LightItalic.woff2') format('woff2'),
        url('https://github.com/bstroshek/PoolRescue/blob/main/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

